<ion-header>
  <ion-toolbar>
    <ion-title>  </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
 <ion-toolbar> <ion-buttons routerLink = "/tabs" slot="start"> <ion-back-button defaultHref="home"></ion-back-button> </ion-buttons> </ion-toolbar> 
 <h1 id="Headers"> <u> Add Task </u> </h1>
<div id="Desc"> 
  <ion-textarea id="Tdesc" placeholder="Description"></ion-textarea>
</div>

<ion-item>
  <ion-label >Due Date</ion-label>
  <ion-datetime pickerFormat="DDD, MMM, D, h:mm, A" displayFormat="DDD, MMM D, h:mm, A" placeholder="Month, Date, Time"></ion-datetime>
</ion-item>
<br>
<ion-button id="btn" color="tertiary"> <h1 id="btntext">SAVE</h1> </ion-button>
<ion-button (click)="CreatePopover()">Popover</ion-button>
</ion-content>
