
#Desc {
    border-style: solid;    
    border-width: 1.5px;
    border-radius: 8px;
    height: 400px;
    width: 331px;
    position: relative;
    left: 22px;
}
#Tdesc {
    position: absolute;
    
     left: 8px;
}
#Headers {
    text-align: center; 
    font-weight: 300
}
#previous {
text-align: left;

}