<ion-header>
  <ion-toolbar>
    <ion-title> Placeholder </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-toolbar> <ion-buttons routerLink = "/tabs" slot="start"> <ion-back-button defaultHref="home"></ion-back-button> </ion-buttons> </ion-toolbar> 
 <h1 id="Headers"> <u> Add Task </u> </h1>
<div id="Desc"> 
  <ion-textarea id="Tdesc" placeholder="Description"></ion-textarea>
</div>

<ion-item>
  <ion-label >Due Date</ion-label>
  <ion-datetime displayFormat="DDD, MMM, D, h:mm, A" ></ion-datetime>
</ion-item>

</ion-content>
