<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-img height="40 px" width="30 px" src="../assets/Note&SlashLogo.png" id="logo"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>  -->

<ion-content  [scrollEvents]="true" (ionScrollStart)="logScrollStart()"
(ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()">

<ion-button [routerLink]="['/app-add-tasks']" routerDirection="forward" id="btn" color="tertiary" expand="block">Add Task </ion-button>

<!-- Checkboxes in a List -->
<div class="fixed">
<ion-list class="mylist">
 {{tasks}}
  <ion-item *ngFor="let task of tasks">
    <ion-label></ion-label>
    <ion-checkbox  slot="start" [(ngModel)]="entry.isChecked"> {{input3.input4}} </ion-checkbox>
    <ion-input id="add" [{ngModel}]="suceess" required type="text"></ion-input>
  </ion-item> 

</ion-list>
</div>

</ion-content>