<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [scrollEvents]="true" (ionScrollStart)="logScrollStart()"
(ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()">

<ion-button [routerLink]="['/app-add-tasks']" routerDirection="forward" id="btn" expand="block">Add Task </ion-button>

<!-- Checkboxes in a List -->
<div class="fixed">
<ion-list class="mylist">
 
    
  <ion-item *ngFor="let entry of form">
    <ion-label>{{entry.val}}</ion-label>
    <ion-checkbox slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>
    <ion-input required type="text"></ion-input>
  </ion-item>

</ion-list>
</div>

</ion-content>