
.fixed[scrollx=true], div[scrolly=true] {
    position: relative;
    overflow: hidden;
  
    ::-webkit-scrollbar {
      display: none;
    }
  }
  
  .fixed[scrollx=true] {
    overflow-x: auto;
  }
  
  .fixed[scrolly=true] {
    overflow-y: auto;
  }
  .Headers {
    text-align: center; 
  }
  #btn {
    width: 300px; 
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    color: #501CBE;
    font-weight: 300 
  }
  ion-content {
    --ion-background-color:#ECEFFF;
}
  